html, body{
/*	overflow:hidden;*/
}
@font-face {
    font-family: 'museo_slab700';
    src: url('fonts/museo_slab_700-webfont.eot');
    src: url('fonts/museo_slab_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo_slab_700-webfont.woff') format('woff'),
         url('fonts/museo_slab_700-webfont.ttf') format('truetype'),
         url('fonts/museo_slab_700-webfont.svg#museo_slab700') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans500';
    src: url('fonts/museosans_500-webfont.eot');
    src: url('fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museosans_500-webfont.woff') format('woff'),
         url('fonts/museosans_500-webfont.ttf') format('truetype'),
         url('fonts/museosans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans700';
    src: url('fonts/museosans_700-webfont.eot');
    src: url('fonts/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museosans_700-webfont.woff') format('woff'),
         url('fonts/museosans_700-webfont.ttf') format('truetype'),
         url('fonts/museosans_700-webfont.svg#museo_sans700') format('svg');
    font-weight: normal;
    font-style: normal;

}
.menu-button{
	background: url(../img/icon_menu.svg) no-repeat center center;
	background-size: contain;
}
.upload-button{
	background: url(../img/icon_upload.svg) no-repeat top left;
	background-size: contain;
}
.menu-button, .upload-button{
	min-width: 36px;
}
.logo-container{
	background: url(../img/logo.png) no-repeat center center;
	background-size: contain;
}
.heart-container{
	background: url(../img/purple_heart_bg.svg) no-repeat center center;
	background-size: contain;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -211px;
	margin-left: -227px;
	width: 454px;
	height: 422px;
	margin-bottom: -4em;
	opacity: 0.9;
}
.drops-container{
	background: url(../img/white_drops.svg) no-repeat top left;
	background-size: contain;
}
.navbar-inner .container{
	padding-top: 10px;
}
footer{
	position: absolute;
	bottom: 5%;
	right: 2%;
	padding: 10px 20px 10px 20px;
	background-color: transparent;
	border-radius: 8px;
}

.video-container:before{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0px;
	z-index: 1;
	margin: 0;
	padding: 0;
	background: url(../img/video_overlay_tile.png) repeat;
}
.video-container{
	background: url(../img/video_overlay_tile.png) repeat;
	overflow: hidden;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -5000;
}
.video-elem{
	width: 100%;
	height: 100%;
	z-index: -10000;
}
.container{
	background: transparent;
	z-index: 10000;
}
.touch-device video.video-elem{
	display:none;
}
.touch-device div.video-elem{
	background: url(../img/bg_image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.notify-me{
	z-index: 20000;
	position: absolute;
	right: 37px;
	top: -2px;
	width: 90px;
	height: 35px;
}
.heart-inside{
	color: white;
	margin: auto;
	margin-top: 60px;
	max-width: 410px;
	overflow: hidden;
	text-align: center;
}
.heart-inside h3{
	font-family: museo_slab700;
	font-size: 30px;
	margin-top: 12px;
	margin-bottom: 10px;
}
.heart-inside p{
	font-family: museo_sans500;
	font-size: 14px;
}
.heart-inside .hatespam{
	font-family: museo_sans500;
	font-size: 11px;
	width: 257px;
	margin: auto;
	line-height: 16px;
}
.input-container{
	position: relative;
	padding-left: 35px;
	padding-right: 44px;
}
.input-container .notify-me{
	border-bottom-color: transparent;
	background-image: inherit;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #2ecc71;
	font-family:museo_slab700;
	font-size: 14px;
	color: white;
	box-shadow:0px 3px 0px #1C8347;
}
.input-container input{
	opacity: 1;
	background-color: white;
	color: #333;
	height: 36px;
	font-family: museo_sans500;
	font-size: 18px;
	width: 100% !important;
	-webkit-box-shadow: initial;
	-moz-box-shadow: initial;
	box-shadow: initial;
	border: 0;

}
.navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: 100%;
}

.navbar-inner{
	background: white;
	border-bottom: 1px solid #e4dbe;
	padding-right: 10px !important;
	padding-left: 10px !important;
}
@media
  only screen and (-webkit-min-device-pixel-ratio : 2),
  only screen and (min-device-pixel-ratio : 2) {
    .logo-container{
			background: url(../img/logo@2x.png) no-repeat center center;
			background-size: contain;
		}
		
  }
@media only screen and (max-device-width: 480px) {
	.notify-me{
			right: 44px;
			top: -5px;
		}
	.heart-container{
		background: none;
		width: 100%;
		position: static;
		margin-left: 0;
		margin-right: 0;
	}
	.menu-button, .upload-button{
		display: none;
	}
	.heart-inside{
		margin-top: 70%;
	}
	footer{
		position: static;
	}
}
.thankyou{
	background-color: #8e44ad;
}
.fb-like-box{
	overflow: hidden;
	width: 170px;
	position: relative;
	left: -10px;
}
.thankyou>footer{
	display:none;
}
.thankyou .heart-container footer{
	position: static;
	margin: auto;
	width: 200px;
}
footer .fb-like-box, footer>iframe{
	margin-bottom: 10px;
	display: block;
}